In [309]:
import pandas as pd
import numpy as np

In [310]:
df_park=pd.read_excel('서울시 공원 현황.xlsx')
df_park=df_park.iloc[3:,1:3]
df_park.head()

   자치구   합계
3  종로구  105
4   중구   75
5  용산구  108
6  성동구   87
7  광진구   63

In [311]:
df_park.rename(columns={'자치구':'자치구','합계':'공원 개수'},inplace=True)
df_park.head()

   자치구 공원 개수
3  종로구   105
4   중구    75
5  용산구   108
6  성동구    87
7  광진구    63

In [312]:
df_phy=pd.read_excel('서울시 공공체육시설 현황.xlsx')
df_phy.head()

     기간  자치구 공공체육시설  공공체육시설.1
0    기간  자치구     합계        합계
1    기간  자치구     합계        합계
2    기간  자치구     개소        면적
3  2020   합계   3013  15380794
4  2020  종로구     38     70325

In [313]:
df_phy=df_phy.iloc[4:,1:3]
df_phy.rename({'자치구':'자치구', '공공체육시설':'공공체육시설 개수'})
df_phy.head()

   자치구 공공체육시설
4  종로구     38
5   중구     32
6  용산구     40
7  성동구     55
8  광진구    104

In [314]:
df_lib=pd.read_excel('서울시 도서관 현황.xlsx')
df_lib.head()

     기간  자치구 국립도서관  공공도서관
0  2020   합계     3    188
1  2020  종로구     -      7
2  2020   중구     -      6
3  2020  용산구     -      4
4  2020  성동구     -      7

In [315]:
df_lib.replace('-', 0,inplace=True)

In [316]:
df_lib.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   기간      26 non-null     int64
 1   자치구     26 non-null     object
 2   국립도서관   26 non-null     int64
 3   공공도서관   26 non-null     int64
dtypes: int64(3), object(1)
memory usage: 960.0+ bytes

In [317]:
for i in range(len(df_lib['자치구'])):
    df_lib.loc[i, '도서관 개수']=df_lib.loc[i,'국립도서관']+df_lib.loc[i,'공공도서관']

In [318]:
df_lib=df_lib.loc[1:,['자치구','도서관 개수']]
df_lib.head()

   자치구  도서관 개수
1  종로구     7.0
2   중구     6.0
3  용산구     4.0
4  성동구     7.0
5  광진구     5.0

In [319]:
df_welf=pd.read_excel('서울시 지역문화복지시설 현황.xlsx')
df_welf.head()

     기간  자치구 문예회관  종합복지회관  구민(다목적)체육시설 청소년수련시설
0  2020  종로구    1       1            3       -
1  2020   중구    1       3            7       4
2  2020  용산구    1       2            1       3
3  2020  성동구    2       3            5       2
4  2020  광진구    1       3            3       1

In [320]:
df_welf=df_welf.replace('-',0)
df_park=df_park.replace('-',0)
df_phy=df_phy.replace('-',0)

In [321]:
df_welf=df_welf.iloc[:,1:]
df_welf['복지시설']=df_welf.sum(axis=1)
df_welf=df_welf.loc[:,['자치구','복지시설']]
df_welf.head()

   자치구  복지시설
0  종로구     5
1   중구    15
2  용산구     7
3  성동구    12
4  광진구     8

In [322]:
df_lib.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 1 to 25
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   자치구     25 non-null     object
 1   도서관 개수  25 non-null     float64
dtypes: float64(1), object(1)
memory usage: 532.0+ bytes

In [323]:
df_phy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 4 to 29
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   자치구     26 non-null     object
 1   공공체육시설  26 non-null     object
dtypes: object(2)
memory usage: 548.0+ bytes

In [324]:
df_phy['공공체육시설']=df_phy['공공체육시설'].astype(int)
df_phy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 4 to 29
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   자치구     26 non-null     object
 1   공공체육시설  26 non-null     int32
dtypes: int32(1), object(1)
memory usage: 444.0+ bytes

In [325]:
df_phy=df_phy.iloc[:-1,:]
df_phy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 4 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   자치구     25 non-null     object
 1   공공체육시설  25 non-null     int32
dtypes: int32(1), object(1)
memory usage: 432.0+ bytes

In [326]:
df_park.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 3 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   자치구     26 non-null     object
 1   공원 개수   26 non-null     object
dtypes: object(2)
memory usage: 548.0+ bytes

In [327]:
df_park

      자치구 공원 개수
3     종로구   105
4      중구    75
5     용산구   108
6     성동구    87
7     광진구    63
8    동대문구    96
9     중랑구   102
10    성북구   135
11    강북구    84
12    도봉구    80
13    노원구   188
14    은평구   139
15   서대문구   123
16    마포구   143
17    양천구   123
18    강서구   175
19    구로구   108
20    금천구    55
21   영등포구   109
22    동작구    86
23    관악구   113
24    서초구   181
25    강남구   162
26    송파구   173
27    강동구   125
28  서울대공원     1

In [328]:
df_park=df_park.iloc[:-1,:]
df_park['공원 개수']=df_park['공원 개수'].astype(int)
df_park.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 3 to 27
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   자치구     25 non-null     object
 1   공원 개수   25 non-null     int32
dtypes: int32(1), object(1)
memory usage: 432.0+ bytes

<ipython-input-328-aaa800a90a86>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_park['공원 개수']=df_park['공원 개수'].astype(int)

In [329]:
df=pd.merge(df_park,df_lib, how='outer',on='자치구')

In [330]:
df=pd.merge(df,df_phy, how='outer',on='자치구')

In [331]:
df=pd.merge(df,df_welf, how='outer',on='자치구')

In [332]:
df.head()

   자치구  공원 개수  도서관 개수  공공체육시설  복지시설
0  종로구    105     7.0      38     5
1   중구     75     6.0      32    15
2  용산구    108     4.0      40     7
3  성동구     87     7.0      55    12
4  광진구     63     5.0     104     8

In [333]:
df['문화/체육시설 합계']=df.sum(axis=1)

In [334]:
df.head()

   자치구  공원 개수  도서관 개수  공공체육시설  복지시설  문화/체육시설 합계
0  종로구    105     7.0      38     5       155.0
1   중구     75     6.0      32    15       128.0
2  용산구    108     4.0      40     7       159.0
3  성동구     87     7.0      55    12       161.0
4  광진구     63     5.0     104     8       180.0

In [338]:
from sklearn.preprocessing import MinMaxScaler

for i in ['공원 개수','도서관 개수','공공체육시설','복지시설','문화/체육시설 합계']:
    scaler=MinMaxScaler(feature_range=(1,10))
    df[i]=scaler.fit_transform(df[i].values.reshape(-1,1))

In [339]:
df.head()

   자치구     공원 개수  도서관 개수    공공체육시설  복지시설  문화/체육시설 합계
0  종로구  4.383459     3.7  1.207692  1.00    1.688385
1   중구  2.353383     2.8  1.000000  8.50    1.000000
2  용산구  4.586466     1.0  1.276923  2.50    1.790368
3  성동구  3.165414     3.7  1.796154  6.25    1.841360
4  광진구  1.541353     1.9  3.492308  3.25    2.325779

In [340]:
df['문화/체육 지수']=0.3*df['공원 개수'] + 0.5 *df['복지시설'] + 0.1*df['공공체육시설'] + 0.1*df['도서관 개수']

In [341]:
df.head()

   자치구     공원 개수  도서관 개수    공공체육시설  복지시설  문화/체육시설 합계  문화/체육 지수
0  종로구  4.383459     3.7  1.207692  1.00    1.688385  2.305807
1   중구  2.353383     2.8  1.000000  8.50    1.000000  5.336015
2  용산구  4.586466     1.0  1.276923  2.50    1.790368  2.853632
3  성동구  3.165414     3.7  1.796154  6.25    1.841360  4.624239
4  광진구  1.541353     1.9  3.492308  3.25    2.325779  2.626637

In [343]:
df=df.loc[:,['자치구','문화/체육 지수']]
df.head()

   자치구  문화/체육 지수
0  종로구  2.305807
1   중구  5.336015
2  용산구  2.853632
3  성동구  4.624239
4  광진구  2.626637

In [346]:
df.to_csv('서울시_문화_체육 지수.csv',index=False)