In [104]:
import pandas as pd
import numpy as np

In [105]:
df_wel=pd.read_csv('서울시 사회복지시설_자치구.csv',encoding='cp949')
df_wel.head()

            시설명 시군구명
0  서울꽃동네신내노인요양원  중랑구
1         청운양로원  종로구
2       청운노인요양원  종로구
3         홍파양로원  노원구
4       천사노인요양원  강서구

In [106]:
df_wel.shape

(3095, 2)

In [107]:
df_wel=df_wel.groupby('시군구명').count()
df_wel.head()

      시설명
시군구명
강남구   126
강동구   148
강북구   139
강서구   189
관악구   150

In [108]:
df_police=pd.read_excel('서울시 치안시설 현황.xlsx')
df_police.head()

     기간  자치구 경찰청  경찰서  지구대파출소치안센터 소방본부 소방서  119안전센터
0  2020  종로구   1    2          22    -   1        6
1  2020   중구   -    2          18    1   1        5
2  2020  용산구   -    1          12    -   1        5
3  2020  성동구   -    1          15    -   1        4
4  2020  광진구   -    1          12    -   1        3

In [109]:
df_police=df_police.replace('-',0)
df_police=df_police.iloc[:,1:]
df_police.head()

   자치구  경찰청  경찰서  지구대파출소치안센터  소방본부  소방서  119안전센터
0  종로구    1    2          22     0    1        6
1   중구    0    2          18     1    1        5
2  용산구    0    1          12     0    1        5
3  성동구    0    1          15     0    1        4
4  광진구    0    1          12     0    1        3

In [110]:
df_police['치안시설(경찰/소방)']=df_police.sum(axis=1)
df_police.head()

   자치구  경찰청  경찰서  지구대파출소치안센터  소방본부  소방서  119안전센터  치안시설(경찰/소방)
0  종로구    1    2          22     0    1        6           32
1   중구    0    2          18     1    1        5           27
2  용산구    0    1          12     0    1        5           19
3  성동구    0    1          15     0    1        4           21
4  광진구    0    1          12     0    1        3           17

In [111]:
df_police=df_police.loc[:,['자치구','치안시설(경찰/소방)']]
df_police.head()

   자치구  치안시설(경찰/소방)
0  종로구           32
1   중구           27
2  용산구           19
3  성동구           21
4  광진구           17

In [112]:
df_wel=df_wel.reset_index()
df_wel=df_wel.rename(columns={'시군구명':'자치구','시설명':'사회복지시설'})
df_wel.head()

   자치구  사회복지시설
0  강남구     126
1  강동구     148
2  강북구     139
3  강서구     189
4  관악구     150

In [113]:
df=pd.merge(df_wel,df_police,how='outer',on='자치구')

In [114]:
df

      자치구  사회복지시설  치안시설(경찰/소방)
0     강남구     126         30.0
1     강동구     148         24.0
2     강북구     139         20.0
3     강서구     189         20.0
4     관악구     150         25.0
5     광진구      95         17.0
6     구로구     134         25.0
7     금천구     119         15.0
8     노원구     192         23.0
9     도봉구     151         15.0
10   동대문구     103         27.0
11    동작구     113         23.0
12    마포구      96         23.0
13   서대문구     108         17.0
14  서울특별시      15          NaN
15    서초구      80         28.0
16    성동구      80         21.0
17    성북구     129         31.0
18    송파구     176         29.0
19    양천구     139         22.0
20   영등포구     119         22.0
21    용산구      54         19.0
22    은평구     169         27.0
23    종로구      66         32.0
24     중구      45         27.0
25    중랑구     160         23.0

In [115]:
df.drop(14,inplace=True)

In [116]:
df=df.reset_index()

In [117]:
df=df.iloc[:,1:]
df.head()

   자치구  사회복지시설  치안시설(경찰/소방)
0  강남구     126         30.0
1  강동구     148         24.0
2  강북구     139         20.0
3  강서구     189         20.0
4  관악구     150         25.0

In [118]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   자치구          25 non-null     object
 1   사회복지시설       25 non-null     int64
 2   치안시설(경찰/소방)  25 non-null     float64
dtypes: float64(1), int64(1), object(1)
memory usage: 728.0+ bytes

In [119]:
from sklearn.preprocessing import MinMaxScaler

for i in ['사회복지시설','치안시설(경찰/소방)']:
    scaler=MinMaxScaler(feature_range=(1,10))
    df[i]=scaler.fit_transform(df[i].values.reshape(-1,1))
df.head()

   자치구    사회복지시설  치안시설(경찰/소방)
0  강남구  5.959184     8.941176
1  강동구  7.306122     5.764706
2  강북구  6.755102     3.647059
3  강서구  9.816327     3.647059
4  관악구  7.428571     6.294118

In [120]:
df['복지 지수']=0.5 *df['사회복지시설'] + 0.5*df['치안시설(경찰/소방)']
df.head()

   자치구    사회복지시설  치안시설(경찰/소방)     복지 지수
0  강남구  5.959184     8.941176  7.450180
1  강동구  7.306122     5.764706  6.535414
2  강북구  6.755102     3.647059  5.201080
3  강서구  9.816327     3.647059  6.731693
4  관악구  7.428571     6.294118  6.861345

In [121]:
df=df.loc[:,['자치구','복지 지수']]
df.head()

   자치구     복지 지수
0  강남구  7.450180
1  강동구  6.535414
2  강북구  5.201080
3  강서구  6.731693
4  관악구  6.861345

In [122]:
df.to_csv('서울시_복지지수.csv',index=False)